body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
p{font-size: larger;}

#section-one{
    display: flex;
}
.half-width{
    width: 50%;
    margin: 20px;
}
.half-width img{
    width: 70%;
}
.orange-color{
    color: orange;
}
h1{
    font-size: 40px;
}
.button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, #e61704);
    margin: 10px;
    padding: 13px 25px;
    border-radius: 15px;
}
#soction-one-div1{
    padding-top: 5%;
    padding-left: 5%;
}

#second-section{
    display: flex;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#second-section-div1 img{
    padding-left: 10%;
}
#second-section-div2{
    padding-top: 15%;
}
#second-section-div2 p{ 
    padding-right: 35%;
    line-height: 200%;
}

#third-section-div1{
    text-align: center;
    margin: 5%;
    
}
#third-section-div2{
    display: flex;
    margin: 5%;
}
.shadow-box{
    margin: 15px;
    padding: 2%;
    border-radius: 25px;
    box-shadow: 1px 1px 10px rgb(200, 199, 199);
}
.shadow-box img{width: 100%;}
.shadow-box p{line-height: 200%;}
#third-section-div3{
    display: flex;
    margin: 5.5%;
    padding: 2%;
    border-radius: 25px;
    box-shadow: 1px 1px 10px rgb(194, 194, 194);
}
.third-section-div3-child-div{margin: 0 11% 0 12%;}

footer{
    background-color: black;
    color: rgb(194, 194, 194);
    padding: 2%;
    padding-bottom: 8%;
    text-align: center;
}
.gray-color{
    color: gray;
    margin-left: 1%;
}

